body {
  background-color: thistle;
}

h1 {
  color: brown;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


@media (min-width: 500px){
  body {
    background-color: violet;
  }
}

@media (max-width: 499px){
  body {
    background-color: yellow
  }
}
